.mymenu{
	float:left;
	margin-left:10px;
	margin-top:10px;
	width:200px;
	height:300px;
	background: url("../images/menu.png") top center no-repeat; 
	background-size: cover;
}

.mymenu span{
	width:180px;
	float:left;
	padding: 10px 10px 10px 10px;
}

.mymenu span a{
	background: url("");
	width:120px; height:20px;
	position: relative;
	left:10px;
	top:10px;
	float:left;
}

.mymenu span a.button3d {
	color: rgba(255,255,255,1);
	text-decoration: none;
	background-color: rgba(219,87,5,1);
	font-family: 'Yanone Kaffeesatz';
	font-weight: 700;
	font-size: 1.5em;
	display: block;
	padding: 4px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
	-moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
	box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
	margin: 80px auto;
	width: 160px;
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

.mymenu span  a.button3d:active {
	-webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
	-moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
	box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
	position: relative;
	top: 6px;
}

.mymenu a{
	display:block;
	width:170px;
	background:url("../images/orange_ball_small.gif") left no-repeat;
	margin-left:10px;
	margin-top: 8px;
	padding-left:20px;
	font-size:15px;
	text-decoration: none;
	text-transform: capitalize;
	overflow:hidden;
	text-overflow:ellipsis;
	color:black;
	white-space: nowrap;
}

.mytitle{
	position: relative;
	left:2px;
	top:2px;
	background: url("../images/menutitle.png") top center no-repeat;
    background-size: 100% 100%;
	width: 195px;
	height: 40px;
	padding-top:20px;
	text-align: center;
	font-family: "¿¬Ìå";
	font-size: 20px;
}